@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: 'Sarabun', 'Roboto', sans-serif;
    background-color: rgba(27, 26, 26, 0.322);
    color: white;
    align-items: center;
    margin: 0;
    justify-content:center;
}

/*--------------------------- Stage area */

#stage-area {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.white-key {
    width: 120px;
    height: 480px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-right: none;
    border-radius: 5px;
    box-shadow: gray;
}

.white-key:last-child {
    border-right: 1px solid lightgray;
}

.black-key {
    width: 80px;
    height: 320px;
    background-color:black;
    margin-left:-40px;
    margin-right: -40px;
    margin-top: -160px;
    z-index: 2;
    border-radius: 5px;
    box-shadow: 5px solid black;
}

/* ------------------Footer */

#social-media {
    list-style: none;
    justify-content: center;
}

#social-media li {
    color: black;
    font-size: 2rem;
    display: inline-block;
}